*{margin: 0;}
main{
    width: 80%;
    margin: 50px auto;
    border: 1px solid gray;
    display: grid;
    grid-template-rows: 60px 100px 200px 60px;
    grid-template-columns: repeat(3, 1fr)150px;
    grid-gap: 20px;
}
.div1{
    background-color: rgb(164, 210, 164);
    text-align: center;
    grid-column: 1/-1;
}
.div2{
    background-color: cyan;
    text-align: center;
}
.div3{
    background-color: rgb(39, 156, 150);
    text-align: center;
}
.div4{
    background-color: rgb(7, 49, 49);
    text-align: center;
}
.div5{
    background-color: rgb(22, 147, 141);
    text-align: center;
    grid-row: 2/4;grid-column: 4/5;
}
.div6{
    background-color: rgb(14, 94, 67);
    text-align: center;
    grid-column:1/4 ;
}
.div7{
    background-color: rgb(21, 42, 42);
    text-align: center;
    grid-column: 1/-1;
}